# pyCharm
.idea/

# virtual env
gv_venv/

# react build files
grapevine/react-build

# local dynamo
dynamodb_local_latest/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# note files
*.txt
*.csv

# python3
*.pyc
*__pycache__*


