.Extension {
    width: 350px;
}

.Friend-container {
    height: 50px;
}

.Friend-isSelected-true {
    background-color: MediumPurple;
}

.Friend-isSelected-false {
    background-color: WhiteSmoke;
}


