.Sidebar-button {
	height: 90px;
}

.Sidebar-button-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.Sidebar-active {
	background-color: green;
}

.Sidebar-inactive {
	background-color: red;
}

.Sidebar {
	height: 100%;
	width: 100%;
	background-color: grey; 
}

/*.ReactModal__Content .ReactModal__Content--afteropen {
	padding: 0;
}*/