<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grapevine</title>
    </head>
    <body>
        <div id="header">
            <p>Welcome to Grapevine, {{ current_user.first_name }}.</p>
            <form name="new_friend" action="{{ url_for('main.home') }}" method="POST">
{#                TODO - enable message flashing for missing email field#}
                <input name="email" placeholder="my friend's email" size="30">
                <button name="new_friend" value="new_friend">Add Friend</button>
            </form>
            <form name="logout" action="{{ url_for('main.home') }}" method="POST">
                <button name="logout" value="logout">Logout</button>
            </form>
        </div>
        <hr>
        <p>Message center:</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>