<!--{% from "security/_macros.html" import render_field_with_errors, render_field %}-->
<html lang="en">
    <head>
        <title>Grapevine</title>
    </head>
    <body>
        <div id="header">
            <p>Welcome to Grapevine, {{ current_user.first_name }}.</p>
            <form>
                <input id="add-friend-email" placeholder="friend's email" size="25">
                <button type="button" id="add-friend-button">Add friend.</button>
            </form>
            <form name="logout" action="{{ url_for('main_bp.home') }}" method="POST">
                <button name="logout" value="logout">Logout</button>
            </form>
        </div>
        <hr>
        <div id="message-center">
            <p>Message center:</p>
            {# flashed messages from flask server using flash() #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {# messages returned via http response and rendered through JS #}
            <p id="ajax-alerts"></p>
        </div>
        <hr>
        {# PENDING FRIEND REQUESTS #}
        {% if pending_friends %}
            <div id="friend-requests">
                <p>Pending friend requests:</p>
                {% for friend_request in pending_friends %}
                    {% set full_name = friend_request.first_name + ' ' + friend_request.last_name %}
                    <div>
                    {{ full_name }}
                    <button type="button" id="confirm-friend-request-button">Confirm</button>
                    <button type="button" id="delete-friend-request-button">Delete</button>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endif %}

        {# PLUG IN PAGE SPECIFIC CONTENT HERE #}
        {% block content %}{% endblock %}

    </body>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('main_bp.static', filename='friends.js') }}"></script>
    <script>
        (function() {
            Friends.init({{ current_user_dict|tojson }});
        })();
    </script>

</html>